<fieldset>
  <div id="success_page">
    <h1>Email Sent Successfully.</h1>
    <p>
      Thank you
      <strong>{{name}}</strong>, your message has been submitted to us.
    </p>
  </div>
</fieldset>