<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> preloader}}

    {{> topbar}}

    {{> header}}

    {{{body}}}

    {{> footer}}

    {{> copyrights}}

    {{> scrollToTop}}

    {{> scripts}}
  </body>
</html>